version: 2
jobs:
  lint:
    docker:
      - image: golangci/golangci-lint:v1.30
    steps:
      - checkout
      - run: golangci-lint run -v
  build:
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - run: go build main.go
  release:
    machine: true
    steps:
      - checkout
      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      - run: curl -sL https://git.io/goreleaser | bash
      - run: docker logout
workflows:
  version: 2
  build-workflow:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - build:
          filters:
            tags:
              only: /.*/
      - release:
          context: deploy
          requires:
            - build
            - lint
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
