name: Lint

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"
      - uses: golangci/golangci-lint-action@v6
        with:
          version: "v1.62"
